{% extends "block.html.twig" %}
{% block content %}
    <div class="container-fluid marginTop">
        <div class="row">
            <div class="col-sm-12 queries">
                <h2 class="text-center darkBlue marginTop">Check out the latest User queries</h2>
                <span class="col-sm-12 text-center sliderSubHeading">Let’s help by using our network and ressources to help others.</span> </div>
        </div>
    </div>
    <div class="container-fluid marginTop ContainerJuery marginBottom">
        <div class="container">
            <div class="row queries">
                <ul class="col-sm-12">
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                            <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                            <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                        <div class="imageJuery"><img src="{{ directory }}/images/juery1.png" alt="image"></div>
                        <hr class="col-sm-12">
                        <div class="endBarJuery">
                            <span class="dateJuery">12.12.2016</span>
                            <span class="contactJuery">Contact</span>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                            <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                            <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                        <div class="imageJuery"><img src="{{ directory }}/images/juery2.png" alt="image"></div>
                        <hr class="col-sm-12">
                        <div class="endBarJuery">
                            <span class="dateJuery">12.12.2016</span>
                            <span class="contactJuery">Contact</span>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                            <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                            <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                        <div class="imageJuery"><img src="{{ directory }}/images/juery3.png" alt="image"></div>
                        <hr class="col-sm-12">
                        <div class="endBarJuery">
                            <span class="dateJuery">12.12.2016</span>
                            <span class="contactJuery">Contact</span>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                            <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                            <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                        <div class="imageJuery"><img src="{{ directory }}/images/juery1.png" alt="image"></div>
                        <hr class="col-sm-12">
                        <div class="endBarJuery">
                            <span class="dateJuery">12.12.2016</span>
                            <span class="contactJuery">Contact</span>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                            <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                            <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                        <div class="imageJuery"><img src="{{ directory }}/images/juery2.png" alt="image"></div>
                        <hr class="col-sm-12">
                        <div class="endBarJuery">
                            <span class="dateJuery">12.12.2016</span>
                            <span class="contactJuery">Contact</span>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                            <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                            <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                        <div class="imageJuery"><img src="{{ directory }}/images/juery3.png" alt="image"></div>
                        <hr class="col-sm-12">
                        <div class="endBarJuery">
                            <span class="dateJuery">12.12.2016</span>
                            <span class="contactJuery">Contact</span>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                            <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                            <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                        <div class="imageJuery"><img src="{{ directory }}/images/juery1.png" alt="image"></div>
                        <hr class="col-sm-12">
                        <div class="endBarJuery">
                            <span class="dateJuery">12.12.2016</span>
                            <span class="contactJuery">Contact</span>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                            <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                            <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                        <div class="imageJuery"><img src="{{ directory }}/images/juery2.png" alt="image"></div>
                        <hr class="col-sm-12">
                        <div class="endBarJuery">
                            <span class="dateJuery">12.12.2016</span>
                            <span class="contactJuery">Contact</span>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                            <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                            <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                        <div class="imageJuery"><img src="{{ directory }}/images/juery3.png" alt="image"></div>
                        <hr class="col-sm-12">
                        <div class="endBarJuery">
                            <span class="dateJuery">12.12.2016</span>
                            <span class="contactJuery">Contact</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}