<div class="col-sm-3">
    {% set author_picture = author_picture|merge({'#image_style': 'medium'}) %}
    {{ author_picture }}
</div>
<div class="col-sm-4">
    <div class="contentSectionSession">
        <h3 class="padding-bottom">{{ node.title.value }}</h3>
        <p class="font-18 regular-font">With {{ tutor_name }} </p>
        <div class="stars col-12 responsive-center">
            <ul>
                <li><a href="#"><img src="/{{ directory }}/images/starFilled.png"></a></li>
                <li><a href="#"><img src="/{{ directory }}/images/starFilled.png"></a></li>
                <li><a href="#"><img src="/{{ directory }}/images/starFilled.png"></a></li>
                <li><a href="#"><img src="/{{ directory }}/images/starFilled.png"></a></li>
                <li><a href="#"><img src="/{{ directory }}/images/starUnfilled.png"></a></li>
                <li><span>3</span></li>
            </ul>
        </div>
        <div class="sessionInfo col-12 stars">
            <ul class="text-left">
                <li class="sessionLocation">{{ tutor_country }}</li>
                <li class="sessionLanguage">
                    {{ session_languages }}
                </li>
                <li class="sessionTime">
                    {{ node.field_session_length.value }} minutes
                </li>
                <li class="sessionLevel">
                    {% for key, item in node.field_session_level %}
                        {{  item.get('entity').getTarget().getValue().getName()   }}
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="activeLinks col-12 marginTop">
            <ul class="text-left">
                <li class="send"><a href="#">Send Tutor a message</a></li>
                <li class="visit"><a href="#">Visit Tutors profile</a></li>
                <li class="wishlist"><a href="#">Add to your Wishlist</a></li>
            </ul>
        </div>
    </div>
</div>